#score {
    position: relative;
    width: 100%;
    list-style-type: none;
    padding: 0;
    border: 0;
    z-index: 1;
}
.space {
    width: 100%;
    height: 10px;
}
.line {
    height: 2px;
    width: 100%;
    border-top: 4px;
    border-bottom: 4px;
    border-style: solid;
    border-color: white;
}
.line-long {
    background-color: black;
}
.on-score {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}
#treble-clef {
    width: 52px;
    margin-top: 90px;
}
#bass-clef {
    margin-top: 82px;
    width: 102px;
    display: none;
}
.sharp {
    display: none;
    width: 17px;
}
.flat {
    display: none;
    width: 20px;
}
#sharp-0-g {
    margin-top: 97px;
    margin-left: 62px;
}
#sharp-1-g {
    margin-top: 128px;
    margin-left: 78px;
}
#sharp-2-g {
    margin-top: 88px;
    margin-left: 94px;
}
#sharp-3-g {
    margin-top: 117px;
    margin-left: 111px;
}
#sharp-4-g {
    margin-top: 148px;
    margin-left: 128px;
}
#sharp-5-g {
    margin-top: 106px;
    margin-left: 143px;
}
#sharp-6-g {
    margin-top: 138px;
    margin-left: 160px;
}
#flat-0-g {
    margin-top: 132px;
    margin-left: 65px;
}
#flat-1-g {
    margin-top: 104px;
    margin-left: 83px;
}
#flat-2-g {
    margin-top: 144px;
    margin-left: 99px;
}
#flat-3-g {
    margin-top: 112px;
    margin-left: 118px;
}
#flat-4-g {
    margin-top: 152px;
    margin-left: 134px;
}
#flat-5-g {
    margin-top: 124px;
    margin-left: 155px;
}
#flat-6-g {
    margin-top: 164px;
    margin-left: 170px;
}
#sharp-0-f {
    margin-top: 129px;
    margin-left: 96px;
}
#sharp-1-f {
    margin-top: 160px;
    margin-left: 112px;
}
#sharp-2-f {
    margin-top: 120px;
    margin-left: 128px;
}
#sharp-3-f {
    margin-top: 149px;
    margin-left: 145px;
}
#sharp-4-f {
    margin-top: 180px;
    margin-left: 162px;
}
#sharp-5-f {
    margin-top: 138px;
    margin-left: 177px;
}
#sharp-6-f {
    margin-top: 170px;
    margin-left: 194px;
}
#flat-0-f {
    margin-top: 153px;
    margin-left: 99px;
}
#flat-1-f {
    margin-top: 125px;
    margin-left: 117px;
}
#flat-2-f {
    margin-top: 165px;
    margin-left: 133px;
}
#flat-3-f {
    margin-top: 134px;
    margin-left: 152px;
}
#flat-4-f {
    margin-top: 173px;
    margin-left: 168px;
}
#flat-5-f {
    margin-top: 145px;
    margin-left: 189px;
}
#flat-6-f {
    margin-top: 114px;
    margin-left: 207px;
}
.crotchet {
    width: 55px;
    opacity: 0;
    transform: translate(0, 0);
    transition: transform 10ms ease-out, opacity 10ms ease-out;
    will-change: transform, opacity;
}
.crotchet.no-transition {
    transition: none !important;
}
.accidental {
    display: none;
    z-index: 10;
}
#accidental-sharp {
    width: 13px;
}
#accidental-flat {
    width: 15px;
}
