/* general */
* {
  font-size: 20px;
  text-align: center;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/main-bg.jpg") no-repeat center center/cover;
  background-color: #333;
  /* background: url("./images/main-bg.jpg") no-repeat center center/cover; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  height: 100vh;
}

.btn {
  display: inline-block;
  text-decoration: none;
  margin: 5px;
  font-size: 18px;
  color: #f4f4f4;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

body {
  margin: 1rem;
}

header h1 {
  display: inline-block;
  padding: 10px;
  font-size: 2rem;
  color: #f4f4f4;
}

h2 {
  font-size: 1.5rem;
}

main {
  background-color: #f4f4f4;
  margin: 10% 20% auto;
  opacity: 0.8;
  padding: 0.5em;
}

main ul {
  list-style: none;
}

@media (max-width: 1000px) {
  main {
    margin: auto;
  }
}
