.hole {
    background-color: white;
    border-radius: 50%;
    border: 0.2em solid black;
    box-shadow: 0 0 1em grey;
}
.hole0 {
    margin-bottom: 0.5em;
}
.hole-large {
    height: 50px;
    width: 50px;
    margin-bottom: 1em;
}
.hole-container {
    margin-top: 1em;
}
.hole-small {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;
}
#recorder {
    list-style-type: none;
    padding: 0;
    margin: auto;
}
#out-of-range {
    position: absolute;
    top: 36%;
    right: 30px;
    display: none;
    width: 20%;
    background-color: white;
    z-index: 12;
}
